<div class='flex-1 min-h-[calc(100vh-120px)]'>
  <h1 class="font-bold text-4xl">Welcome#index</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>
  <div class="flex-none w-full"></div>
  <div class="bg-gradient-to-r from-red-500 dark:from-blue-500 to-yellow-400 h-96">
    <!-- ... -->
  </div>
  <div class="bg-linear-to-r from-red-500 dark:from-blue-500 via-orange-400 dark:via-none to-yellow-400 dark:to-teal-400 h-96">
    <!-- ... -->
  </div>
</div>